<div class="container">
    <mat-card>
        <mat-card-title>Users list</mat-card-title>
        <mat-card-subtitle>Manage user passwords</mat-card-subtitle>
        <mat-card-content>
            <table mat-table [dataSource]="users" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                </ng-container>

                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef> Password </th>
                    <td mat-cell *matCellDef="let user"> {{user.password}} </td>
                </ng-container>

                <ng-container matColumnDef="expiration">
                    <th mat-header-cell *matHeaderCellDef> Valid until </th>
                    <td mat-cell *matCellDef="let user"> {{user.passwordExpirationDate}} </td>
                </ng-container>

                <ng-container matColumnDef="isValid">
                    <th mat-header-cell *matHeaderCellDef> Is valid </th>
                    <td mat-cell *matCellDef="let user">
                        <mat-icon *ngIf="user.isValid==true">check</mat-icon>
                        <mat-icon *ngIf="user.isValid!=true">block</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="timeRemaining">
                    <th mat-header-cell *matHeaderCellDef> Time remaining </th>
                    <td mat-cell *matCellDef="let user">
                        <div *ngIf="user.secondsRemaining > 0">{{user.secondsRemaining}} seconds</div>
                        <div *ngIf="user.secondsRemaining <= 0">-</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let user">
                        <button mat-mini-fab color="primary" matTooltip="Generate new password"
                            matTooltipPosition="above" (click)="onGeneratePasswordClick(user)">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="loadUsers()">Reload</button>
          </mat-card-actions>
    </mat-card>
</div>